@{
    ViewData["Title"] = "Página Inicial";
}

<section class="home">
    <div class="home-text">
        <h2>Bem-vindo ao Bibliotech</h2>
        <h3>O seu sistema de bibliotecas!</h3>
        <p>
            Aqui, os alunos podem escolher e reservar livros que despertem seu interesse.<br />
            Fique à vontade para nos seguir nas redes sociais.
        </p>
        <a href="https://beacons.ai/renanpollo" target="_blank" style="text-decoration: none;">Acesse aqui</a>
    </div>

</section>